@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

body {
    background-color: #333533 !important;
    font-family: 'Open Sans', sans-serif !important;
    padding: 0;
}

.navbar {
    margin-bottom: 0px;
}

.navbar-custom {
    background-color: #F5CB5C;
}

footer {    
    background-color: #F5CB5C;
}

.home-img {
    height: 500px;
    width: 100%;
    object-fit: cover;
    border-radius: .3rem;
}

.hero {
    background-color: #E8EDDF;
}

input {
    max-width: 500px;
}

.form-small {
    max-width: 100%;
}